<!DOCTYPE HTML>
<html>
<head>
    <title>Pokemon Database</title>
    <style>
        table.login {
            border:none;
        }

        body {
            background-image: url("http://i.imgur.com/MXIsxsT.jpg");
            background-color: #549fbf;

        }

        footer {
            margin-top:20px;
        }

        header {
            margin-bottom:20px;
        }
    </style>
    <script type="text/javascript" src="/jquery-1.11.2.min.js"></script>

    <% if(typeof js_include !== 'undefined') {
        for(var i = 0; i < js_include.length; i++) { %>
            <script type="text/javascript" src="/<%= js_include[i] %>"></script>
    <%  }
       }
    %>
</head>